<!DOCTYPE html>
<html>
<head>
<title>Sales</title>
</head>
<body>
<button onclick="logout()">Logout</button>

<table id="salesTable">
    <thead>
        <tr>
            <th>Date</th>
            <th>Item</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <!-- Sales data will be dynamically inserted here -->
    </tbody>
</table>
<script>
async function logout() {
window.location.href = '/logout_html';
}
async function fetchSalesData() {
  try {
    const response = await fetch('http://localhost:8000/sales/get_sales_data');
    if (response.ok) {
      const data = await response.json();
      return data;
    } else {
      throw new Error('Failed to fetch sales data');
    }
  } catch (error) {
    console.error('Error fetching sales data:', error);
    return [];
  }
}

document.addEventListener('DOMContentLoaded', async () => {
  const salesData = await fetchSalesData();
  const tableBody = document.querySelector('#salesTable tbody');

  salesData.forEach(sale => {
    const row = `
      <tr>
        <td>${sale.date}</td>
        <td>${sale.item_sold}</td>
        <td>${sale.cost}</td>
      </tr>
    `;
    tableBody.insertAdjacentHTML('beforeend', row);
  });
});
</script>
</body>
</html>
